.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    // gap: 1rem;
}

.cells-box {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding: 10px;
    border-radius: 8px;
    background-color: var(--dark);
    gap: 1px;
}

.cell {
    aspect-ratio: 1/1;
    height: 50px;
    border-radius: 8px;
}