@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

* {
  box-sizing: border-box;
}

:root {
  --dark:#8a817c;
  --light-dark:#ffffff;
  --light: #f6f5f8;
  --accent: #f4a261;
  --shadow-color: rgba(114, 114, 116, 0.18);
  --border: 8px
}


body {
  min-height: 100%;
  margin: 0;
  padding: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  font-family: Manrope;

  background-color: var(--light);
  background-position: left bottom;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

a {
  text-decoration: none !important;
}

ul {
  list-style: none;
}
ul, li, h1, p {
  margin: 0;
  padding: 0;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  max-width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  user-select: none;
  gap: 1rem;
}

.status-on {
  opacity: 1 !important;
  transform: scale(1) !important;
}